Sources de données libres d’accès :
https://drive.google.com/file/d/1RPqWJl1GSsPpeUBg2wFx0SIIh74eGKJE/view

Commencez par
- calculer des statistiques descriptives
- créer des graphes par colonne
- essayez d’identifier des liens entre vos variables
- etc.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('processed_data/LifeExpectancyData.csv')
df.head()

,country,year,status,life expectancy,adult mortality,infant deaths,alcohol,percentage expenditure,hepatitis b,measles,...,polio,total expenditure,diphtheria,hiv/aids,gdp,population,thinness 1-19 years,thinness 5-9 years,income composition of resources,schooling
0,afghanistan,2015,developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,afghanistan,2014,developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,afghanistan,2013,developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,afghanistan,2012,developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,afghanistan,2011,developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2938 non-null   object
 1   year                             2938 non-null   int64
 2   status                           2938 non-null   object
 3   life expectancy                  2928 non-null   float64
 4   adult mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   hepatitis b                      2385 non-null   float64
 9   measles                          2938 non-null   int64
 10  bmi                              2904 non-null   float64
 11  polio                            2919 non-null   float64
 12  total expenditure                2712 non-null   float64
 13  diphtheria                       2919 non-null   float64
 14  hiv/aids                         2938 non-null   float64
 15  gdp                              2490 non-null   float64
 16  population                       2286 non-null   float64
 17  thinness  1-19 years             2904 non-null   float64
 18  thinness 5-9 years               2904 non-null   float64
 19  income composition of resources  2771 non-null   float64
 20  schooling                        2775 non-null   float64
dtypes: float64(16), int64(3), object(2)
memory usage: 482.1+ KB

In [4]:
df.describe()

,year,life expectancy,adult mortality,infant deaths,alcohol,percentage expenditure,hepatitis b,measles,bmi,polio,total expenditure,diphtheria,hiv/aids,gdp,population,thinness 1-19 years,thinness 5-9 years,income composition of resources,schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,82.550188,5.93819,82.324084,1.742103,7483.158469,2.827525e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,23.428046,2.49832,23.716912,5.077785,14270.169342,1.571359e+08,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,78.000000,4.26000,78.000000,0.100000,463.935626,2.150068e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.445401e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.674699e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.898711e+09,27.700000,28.600000,0.948000,20.700000

infant death à un min et un premier quartil à 0 et un max à 1800

combien de percentage expenditure supérieurà 100 ou 1000

In [5]:
# Pour obtenir un booléen indiquant si le DataFrame contient des valeurs NaN
df.isna().any().any()

True

In [6]:
# Compter les valeurs NaN par colonne
df.isna().sum()

country                              0
year                                 0
status                               0
life expectancy                     10
adult mortality                     10
infant deaths                        0
alcohol                            194
percentage expenditure               0
hepatitis b                        553
measles                              0
bmi                                 34
polio                               19
total expenditure                  226
diphtheria                          19
hiv/aids                             0
gdp                                448
population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
income composition of resources    167
schooling                          163
dtype: int64

In [7]:
# affiche uniquement les lignes contenant au moins une valeur NaN
# df[df.isna().any(axis=1)]

# Afficher les lignes sans aucune valeur NaN
df.dropna()

,country,year,status,life expectancy,adult mortality,infant deaths,alcohol,percentage expenditure,hepatitis b,measles,...,polio,total expenditure,diphtheria,hiv/aids,gdp,population,thinness 1-19 years,thinness 5-9 years,income composition of resources,schooling
0,afghanistan,2015,developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,afghanistan,2014,developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,afghanistan,2013,developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,afghanistan,2012,developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,afghanistan,2011,developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,zimbabwe,2004,developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,zimbabwe,2003,developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,zimbabwe,2002,developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,zimbabwe,2001,developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,zimbabwe,2000,developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

### Analyse univarié :
regarde une colonne pour elle même
### Analyse multivarié :
compare les colonnes entre elles

### Méthodes d'aggrégation :
SYNTAXE :
nom_du_dataframe.groupby élément 1 élément 2 .action

df.groupby(list[])[list].method() 

([liste des colonne que l'on veut garder dans le résultat])

[liste des colonnes sur lesquelles on fait les calcul].methode que l'on veux utiliser

Aggrégats par pays, par année, par status

In [11]:
# Filtrer le DataFrame, conserver les lignes "United Arab Emirates" ou "United Kingdom"
uae_uk = df[df['country'].isin(['united arab emirates', 'united kingdom of great britain and northern ireland'])].reset_index(drop=True)
uae_uk.head()

,country,year,status,life expectancy,adult mortality,infant deaths,alcohol,percentage expenditure,hepatitis b,measles,...,polio,total expenditure,diphtheria,hiv/aids,gdp,population,thinness 1-19 years,thinness 5-9 years,income composition of resources,schooling
0,united arab emirates,2015,developing,77.1,75.0,1,NaN,0.000000,99.0,347,...,99.0,NaN,99.0,0.1,3911.74689,NaN,5.3,5.1,0.836,13.3
1,united arab emirates,2014,developing,76.9,77.0,1,1.91,3862.682710,99.0,344,...,99.0,3.64,99.0,0.1,44449.74350,NaN,5.2,5.0,0.832,13.3
2,united arab emirates,2013,developing,76.7,78.0,1,1.82,377.200913,98.0,0,...,98.0,3.49,98.0,0.1,4335.64268,NaN,5.2,5.0,0.829,13.3
3,united arab emirates,2012,developing,76.5,8.0,1,1.75,3663.764502,96.0,132,...,96.0,3.45,96.0,0.1,42112.23565,NaN,5.1,5.0,0.826,13.3
4,united arab emirates,2011,developing,76.3,81.0,1,1.73,387.774991,95.0,0,...,95.0,3.70,95.0,0.1,4462.31290,NaN,5.1,4.9,0.824,13.3

In [12]:
# groupby par pays, puis calcule la moyenne des colonnes sélectionnées
uae_uk_mean = uae_uk.groupby('country')[['life expectancy', 'adult mortality', 'alcohol','infant deaths']].mean().round(2)
uae_uk_mean

,life expectancy,adult mortality,alcohol,infant deaths
country,,,,
united arab emirates,75.70,67.06,1.75,1.00
united kingdom of great britain and northern ireland,80.79,70.38,11.13,3.62

In [ ]:
# Filtrer l'année 2015
uae_uk_2015 = uae_uk[uae_uk['year'] == 2015].reset_index(drop=True)
uae_uk_2015.head()

,country,year,status,life expectancy,adult mortality,infant deaths,alcohol,percentage expenditure,hepatitis b,measles,...,polio,total expenditure,diphtheria,hiv/aids,gdp,population,thinness 1-19 years,thinness 5-9 years,income composition of resources,schooling
0,united arab emirates,2015,developing,77.1,75.0,1,NaN,0.0,99.0,347,...,99.0,NaN,99.0,0.1,3911.74689,NaN,5.3,5.1,0.836,13.3
16,united kingdom of great britain and northern i...,2015,developed,81.2,69.0,3,10.66,0.0,NaN,91,...,96.0,NaN,96.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN

In [15]:
# Groupby par pays, puis sélection des colonnes et affichage des données
uae_uk_2015_filtered = uae_uk_2015.groupby('country')[['life expectancy', 'adult mortality', 'alcohol', 'infant deaths']].mean()
uae_uk_2015_filtered

,life expectancy,adult mortality,alcohol,infant deaths
country,,,,
united arab emirates,77.1,75.0,NaN,1.0
united kingdom of great britain and northern ireland,81.2,69.0,10.66,3.0

In [50]:
# uae_uk_2015 = uae_uk[uae_uk['year']=='2015']
# uae_uk_2015
# uae_uk_2015.groupby('country')[['life expectancy', 'adult mortality', 'alcohol','infant deaths']]
# uae_uk_2015.groupby('country')[['life expectancy']]
# uae_uk_2015

In [35]:
# Pays dévelopé/ en développement
develop = df.groupby([df ['status'] ])[['life expectancy', 'adult mortality', 'alcohol','infant deaths']].mean()
develop

            life expectancy  adult mortality   alcohol  infant deaths
status
developed         79.197852        79.685547  9.826736       1.494141
developing        67.111465       182.833195  3.484119      36.384171

In [ ]:
columns_to_keep = [
        'year','life expectancy', 'adult mortality',
       'infant deaths', 'alcohol', 'percentage expenditure', 'hepatitis b',
       'measles', 'bmi', 'under-five deaths', 'polio', 'total expenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness  1-19 years',
       'thinness 5-9 years', 'income composition of resources', 'schooling'
    ]


# Filtrer le DataFrame pour ne garder que les colonnes spécifiées
df_filtered = df[columns_to_keep]


correlation_matrix = df_filtered.corr()

plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', square=True, fmt=".2f")
plt.title("Matrice de corrélation")
plt.show()

KeyError: "['under-five deaths'] not in index"